@import "tailwindcss";

:root {
    --background: #372265;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-theme-purple-900: #624b99;
    --color-theme-purple-850: #7d60c1;
    --color-theme-purple-300: #dbccff;
    --color-theme-purple-350: #d2bfff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@font-face {
    font-family: 'Alpino';
    src: url('/fonts/Alpino-Variable.woff2') format('woff2'),
        url('/fonts/Alpino-Variable.woff') format('woff');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@keyframes endgame-popup {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 0.7;
    }

    25%,
    75% {
        opacity: 0.3;
    }
}

@layer base {
    body {
        background: var(--background);
        color: var(--foreground);
        font-family: "Alpino", sans-serif;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .animate-endgame-popup {
        animation: endgame-popup 0.2s ease-out forwards;
    }

    .animate-blink {
        animation: blink 5s infinite;
    }
}

@layer components {
    .target-number-box {
        @apply inline-flex flex-nowrap bg-neutral-900 rounded-lg overflow-x-auto px-5 sm:px-7 lg:px-15 py-1 md:py-2 gap-0.5 sm:gap-0.5 lg:gap-1 text-xl sm:text-2xl md:text-3xl lg:text-4xl;
    }

    .target-digit {
        @apply text-blue-400 lg:w-11 md:w-8 sm:w-7 w-5;
    }

    .target-separator {
        @apply text-gray-600 lg:w-3 sm:w-2 w-1;
    }
}